@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  font-family: Poppins, sans-serif;
}

.booklist_container {
  width: 60%;
  margin: 50px auto;
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
}
.header {
  margin: 0px auto;
}

@media screen and (max-width: 900px) {
  .booklist_container {
    width: 80%;
    padding: 15px;
  }
}
@media screen and (max-width: 768px) {
  .booklist_container {
    width: 90%;
    padding: 15px;
  }
}
